td.title1 {
font-family: Arial;
font-size: 24 pt;
font-weight: bold;
background-color: #0066cc;
color: white
}
td.title2 {
font-family: Arial;
font-size: 12 pt;
font-weight: bold;
background-color: #C04000;
color: white
}
td.title3 {
font-family: Arial;
font-size: 12 pt;
font-weight: bold;
color: #C04000
}
td.separator {
background-repeat: repeat;
font-family: Arial;
font-size: 10 pt;
font-weight: normal;
color: black
}
td.menu {
font-family: Verdana;
font-size: 8 pt;
font-weight: normal;
color: Navy
}
td.text {
font-family: Arial;
font-size: 10 pt;
font-weight: normal;
color: Navy
}
